In [56]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import os

import datetime
import plotly.graph_objects as go
from ipywidgets import widgets

In [29]:
pd.read_csv('../raw_data/LIGA/season-1415_csv.csv').loc[:, 'Div':'BbAH']

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxD,BbAvD,BbMxA,BbAvA,BbOU,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH
0,SP1,23/08/14,Almeria,Espanol,1,1,D,0,0,D,...,3.35,3.18,2.90,2.75,44,2.34,2.23,1.70,1.64,26
1,SP1,23/08/14,Granada,La Coruna,2,1,H,0,1,A,...,3.45,3.23,4.40,3.99,36,2.61,2.43,1.61,1.54,24
2,SP1,23/08/14,Malaga,Ath Bilbao,1,0,H,1,0,H,...,3.40,3.23,2.80,2.55,45,2.14,2.02,1.85,1.77,26
3,SP1,23/08/14,Sevilla,Valencia,1,1,D,1,0,H,...,3.65,3.41,4.00,3.66,44,1.97,1.88,2.00,1.92,23
4,SP1,24/08/14,Barcelona,Elche,3,0,H,1,0,H,...,14.01,10.13,36.00,26.00,35,1.31,1.29,3.85,3.48,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,23/05/15,Granada,Ath Madrid,0,0,D,0,0,D,...,2.50,2.37,2.60,2.39,36,2.50,2.33,1.67,1.59,25
376,SP1,23/05/15,Levante,Elche,0,0,D,0,0,D,...,3.62,3.42,4.10,3.83,40,2.11,1.99,1.87,1.81,26
377,SP1,23/05/15,Malaga,Sevilla,2,3,A,0,0,D,...,4.00,3.73,2.21,2.13,37,1.60,1.48,2.70,2.60,25
378,SP1,23/05/15,Real Madrid,Getafe,7,3,H,3,3,D,...,12.00,9.49,29.00,20.36,29,1.22,1.18,5.40,4.51,22
379,SP1,23/05/15,Vallecano,Sociedad,2,4,A,1,2,A,...,4.12,3.78,4.40,3.90,37,1.55,1.50,2.70,2.53,26

In [34]:
#directory_in_str = '/Users/antoinelemaire/code/Zorix9/beat_the_bookies/raw_data/LIGA'
directory_in_str = '../raw_data/LIGA'
directory = os.fsencode(directory_in_str)

list_df = [ pd.read_csv(directory_in_str+'/'+os.fsdecode(file)) for file in os.listdir(directory) if os.fsdecode(file).endswith('.csv')]
#print(f'{count} seasons in the dataframe')

11 seasons in the dataframe

In [41]:
list_df[4]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,SP1,21/08/15,Malaga,Sevilla,0,0,D,0,0,D,...,1.92,24,0.25,2.02,1.95,1.94,1.90,3.22,3.50,2.36
1,SP1,22/08/15,Ath Madrid,Las Palmas,1,0,H,1,0,H,...,1.96,26,-1.75,2.02,1.95,1.95,1.89,1.25,6.24,16.90
2,SP1,22/08/15,Espanol,Getafe,1,0,H,1,0,H,...,1.56,27,-0.50,1.95,1.90,2.01,1.94,2.10,3.28,4.19
3,SP1,22/08/15,La Coruna,Sociedad,0,0,D,0,0,D,...,1.56,26,0.00,1.82,1.78,2.15,2.07,2.44,3.41,3.15
4,SP1,22/08/15,Vallecano,Valencia,0,0,D,0,0,D,...,2.04,27,0.50,1.90,1.83,2.08,2.01,2.93,3.68,2.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,15/05/16,Betis,Getafe,2,1,H,0,0,D,...,2.16,30,0.75,2.01,1.96,1.95,1.90,3.40,3.86,2.14
376,SP1,15/05/16,Espanol,Eibar,4,2,H,2,0,H,...,2.12,29,-0.50,2.06,1.99,1.91,1.87,2.00,3.76,3.95
377,SP1,15/05/16,Malaga,Las Palmas,4,1,H,2,1,H,...,2.02,29,-0.75,2.12,2.07,1.85,1.80,1.67,4.20,5.44
378,SP1,15/05/16,Sp Gijon,Villarreal,2,0,H,1,0,H,...,1.98,30,-1.25,2.09,2.03,1.87,1.83,1.48,5.08,6.89
379,SP1,15/05/16,Vallecano,Levante,3,1,H,2,0,H,...,2.79,31,-1.50,1.97,1.92,1.98,1.94,1.36,6.00,8.52

In [85]:
df = list_df[4]
df['FTR_home'] = df['FTR'].apply(lambda x: 'Win' if str(x) == 'H' else ('Lose' if str(x) =='A' else 'Draw'))
df['FTR_away'] = df['FTR'].apply(lambda x: 'Lose' if str(x) == 'H' else ('Win' if str(x)=='A' else 'Draw'))

In [87]:
df.head(15)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA,FTR_home,FTR_away
0,SP1,21/08/15,Malaga,Sevilla,0,0,D,0,0,D,...,0.25,2.02,1.95,1.94,1.90,3.22,3.50,2.36,Draw,Draw
1,SP1,22/08/15,Ath Madrid,Las Palmas,1,0,H,1,0,H,...,-1.75,2.02,1.95,1.95,1.89,1.25,6.24,16.90,Win,Lose
2,SP1,22/08/15,Espanol,Getafe,1,0,H,1,0,H,...,-0.50,1.95,1.90,2.01,1.94,2.10,3.28,4.19,Win,Lose
3,SP1,22/08/15,La Coruna,Sociedad,0,0,D,0,0,D,...,0.00,1.82,1.78,2.15,2.07,2.44,3.41,3.15,Draw,Draw
4,SP1,22/08/15,Vallecano,Valencia,0,0,D,0,0,D,...,0.50,1.90,1.83,2.08,2.01,2.93,3.68,2.46,Draw,Draw
5,SP1,23/08/15,Ath Bilbao,Barcelona,0,1,A,0,0,D,...,1.00,2.12,2.03,1.87,1.81,6.00,4.28,1.61,Lose,Win
6,SP1,23/08/15,Betis,Villarreal,1,1,D,0,1,A,...,0.00,2.09,2.02,1.87,1.82,3.15,3.48,2.41,Draw,Draw
7,SP1,23/08/15,Levante,Celta,1,2,A,0,1,A,...,0.25,2.11,2.03,1.86,1.81,3.73,3.34,2.21,Lose,Win
8,SP1,23/08/15,Sp Gijon,Real Madrid,0,0,D,0,0,D,...,1.75,1.96,1.91,2.00,1.93,11.70,6.04,1.30,Draw,Draw
9,SP1,24/08/15,Granada,Eibar,1,3,A,0,2,A,...,-0.50,1.92,1.88,2.04,1.96,2.02,3.17,4.80,Lose,Win
10,SP1,28/08/15,Villarreal,Espanol,3,1,H,0,1,A,...,-1.00,2.12,2.04,1.86,1.82,1.59,4.05,6.90,Win,Lose
11,SP1,29/08/15,Barcelona,Malaga,1,0,H,0,0,D,...,-2.50,2.05,1.99,1.92,1.85,1.13,10.98,24.24,Win,Lose
12,SP1,29/08/15,Celta,Vallecano,3,0,H,1,0,H,...,-1.00,1.99,1.92,1.96,1.91,1.49,4.72,7.28,Win,Lose
13,SP1,29/08/15,Real Madrid,Betis,5,0,H,2,0,H,...,-2.50,2.02,1.96,1.93,1.88,1.12,12.00,22.60,Win,Lose
14,SP1,29/08/15,Sociedad,Sp Gijon,0,0,D,0,0,D,...,-0.50,1.88,1.84,2.06,2.00,1.81,3.45,5.64,Draw,Draw

# 1. Visualisation

In [96]:
team_stats = widgets.Dropdown(
    description='Teams:   ',
    value='Ath Madrid',
    options=list_df[4]['HomeTeam'].unique().tolist()
)

# Assign an empty figure widget with two traces
trace1 = go.Histogram(x=df['FTR_home'], opacity=0.75, name='Result at home over the year')
trace2 = go.Histogram(x=df['FTR_away'], opacity=0.75, name='Result away over the year')
g = go.FigureWidget(data=[trace1,trace2],
                    layout=go.Layout(
                        title=dict(
                            text='Team result'
                        ),
                        barmode='overlay'
                    ))

In [97]:
def validate():
    if team_stats.value in list_df[4]['HomeTeam'].unique():
        return True
    else:
        return False

def response(change):
    if validate():
        filter_list = [i for i in
                        df['HomeTeam'] == team_stats.value]
        temp_df = df[filter_list]
        x1 = temp_df['FTR_home']
        x2 = temp_df['FTR_away']
        with g.batch_update():
            g.data[0].x = x1
            g.data[1].x = x2
            g.layout.barmode = 'overlay'
            g.layout.xaxis.title = 'Result'
            g.layout.yaxis.title = 'Number of matchs'

In [98]:
team_stats.observe(response, names='value')

In [99]:
container2 = widgets.HBox([team_stats])
widgets.VBox([container2,
              g])

VBox(children=(HBox(children=(Dropdown(description='Teams:   ', index=1, options=('Malaga', 'Ath Madrid', 'Esp…